name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Compile Java
      run: |
        mkdir -p build/java
        git clone --depth 1 https://github.com/SauersML/Beagle beagle-java
        javac -d build/java $(find beagle-java -name "*.java")

    - name: Package Jar
      run: jar cfe beagle.jar main.Main -C build/java .

  build-rust:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: nightly
        components: rustfmt, clippy

    - name: Build Rust
      run: |
        cargo build --verbose

    - name: Run Rust Tests
      run: |
        cargo test --verbose
